:root{
  --background-color: #f8f8f8;
  --background-color-dark: black;
  --border-bottom-color: #ccc;
  --border-bottom-color-dark: #434347;
  --red: #C8102E;
  --primary-color: #EFEFEF;
  --secondary-color: #2B2B38;
  --white-color:#FFFFFF;
  --grey-color: #909aa1;
  --green-color: #025b52;
  --icon-color: #F2509C;
  --nav-color: #252530;
  --border-bottom-color : #E8E8E8;
  --background-color-cart: #F2F2F2;
  --background-color-select: #f0f0f0;
  --search-color: #434347;
}

@font-face {
  font-family:"lettera mono" ;
  src: url("/public/fuentes_retro_futuristas/Lettera_Mono_LL_Cond_Light-normal-400-100.otf"),  
}

@font-face {
  font-family: "dotmbold";
  src: url("/public/fuentes_retro_futuristas/DOTMBold.TTF");
}

@font-face {
  font-family: "ndot";
  src: url("/public/fuentes_retro_futuristas/Ndot-normal-400-100.otf");
}

@font-face {
  font-family: "ntype";
  src: url("/public/fuentes_retro_futuristas/NType\ 82-normal-400-100.otf");
}
